{% extends 'JFCAdminBundle::layout.html.twig' %}

{% block title %}Authors creation{% endblock %}

{% block section %}
    <h1>{{ entity.name }}</h1>

    {{ form(form) }}

    <ul class="record_actions">
        <li>
            <a href="{{ path('jfc_admin_author_index') }}">
                Back to the list
            </a>
        </li>
    </ul>
{% endblock %}
